<section class="{{class}}" id="{{id}}">
  <h5>{{header}}({{movies ? movies.length : 0}})</h5>
  <div class="row">
    <div class="col-sm-2 hvr-shadow-radial" *ngFor="let movie of movies">
      <div ng-model="movie">
        <article class="card rounded">
          <header class="title-header">
            <h3 class="text-center">{{movie.title}}</h3>
          </header>
          <a style="color:white;" id="{{movie.id}}">
            <div class="card-block" (mouseover)="cardBlockMouseover($event.target)" (mouseout)="cardBlockMouseout($event.target)">
              <div class="img-card">
                <img src="assets/images/{{movie.id}}.png" alt="{{movie.title}}" class="w-100" />
                <div class="average-rating rounded">
                  <span [class]="drawStars(1, movie.rating.averagerating)"></span>
                  <span [class]="drawStars(2, movie.rating.averagerating)"></span>
                  <span [class]="drawStars(3, movie.rating.averagerating)"></span>
                  <span [class]="drawStars(4, movie.rating.averagerating)"></span>
                  <span [class]="drawStars(5, movie.rating.averagerating)"></span>
                </div>
                <div class="view-detail" style="display:none;">
                  <i class="fa fa-search fa-3x"></i>
                </div>
              </div>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
