<header class="app-header">
  <p-menubar [model]="menuItems" styleClass="custom-menubar">
    <ng-template pTemplate="start">
      <a class="brand-logo" [routerLink]="['/']">
        <i class="pi pi-video"></i>
        <span>Movie Store</span>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="header-actions">
        <!-- Search -->
        <div class="search-box">
          <span class="p-input-icon-right">
            <i class="pi pi-search" (click)="search()"></i>
            <input type="text"
                   pInputText
                   placeholder="Search movies..."
                   [(ngModel)]="searchInput"
                   (keyup.enter)="search()">
          </span>
        </div>

        <!-- Not Logged In -->
        <ng-container *ngIf="!tokenStorage.isLoggedIn()">
          <p-button icon="pi pi-user-plus"
                    label="Register"
                    styleClass="p-button-text p-button-secondary">
          </p-button>
          <p-button icon="pi pi-sign-in"
                    label="Login"
                    styleClass="p-button-outlined"
                    [routerLink]="['/login']">
          </p-button>
        </ng-container>

        <!-- Logged In -->
        <ng-container *ngIf="tokenStorage.isLoggedIn()">
          <p-button icon="pi pi-history"
                    pTooltip="Payment History"
                    styleClass="p-button-text p-button-rounded"
                    [routerLink]="['/payment-history']">
          </p-button>
          <p-button icon="pi pi-shopping-cart"
                    pTooltip="Shopping Cart"
                    styleClass="p-button-text p-button-rounded"
                    [routerLink]="['/basket']"
                    pBadge
                    [value]="cartCount">
          </p-button>
          <div class="user-menu">
            <span class="user-greeting">
              <i class="pi pi-user"></i>
              {{tokenStorage.getUser().username}}
            </span>
            <p-button icon="pi pi-sign-out"
                      label="Logout"
                      styleClass="p-button-text p-button-danger p-button-sm"
                      (click)="tokenStorage.logout(false)">
            </p-button>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </p-menubar>
</header>
