<!-- Loading State -->
<div class="loading-container" *ngIf="isLoading">
  <p-progressSpinner strokeWidth="4" animationDuration="1s"></p-progressSpinner>
  <p class="loading-text">Loading movies...</p>
</div>

<!-- Content -->
<div class="home-content" *ngIf="!isLoading">
  <high-ratings-movies [movies]="movieIndexModel.highratings"></high-ratings-movies>
  <all-movies [movies]="movieIndexModel.all"></all-movies>
  <recently-added-movies [movies]="movieIndexModel.recentlyadded"></recently-added-movies>
</div>
